In [1]:
import gmaps
import pandas as pd

# Google developer API key
from api_keys import gkey

In [2]:
print(gkey)

AIzaSyDHJ2uAeCHE5sgrFlvtl4BtvGJTIU9K-pQ

In [3]:
cities_df = pd.read_csv('output_data/cities.csv', index_col=0)
cities_df

,City,Lattitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,mar del plata,-38.0023,-57.5575,62.73,89,75,14.97
1,bara,10.3744,10.7288,76.24,42,70,1.63
2,geraldton,-28.7667,114.6000,62.49,86,45,9.62
3,kosa,59.9445,54.9977,31.23,83,55,9.35
4,saint-philippe,-21.3585,55.7679,69.39,79,43,10.07
...,...,...,...,...,...,...,...
87,thaba-tseka,-29.5220,28.6084,51.89,87,100,1.16
88,lompoc,34.6391,-120.4579,78.62,51,0,13.80
89,poso,-1.3959,120.7524,76.91,83,72,3.91
90,east london,-33.0153,27.9116,66.92,81,93,6.73
91,cape town,-33.9258,18.4232,60.94,77,0,16.11

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [20]:
 #Store 'Lat' and 'Lng' into  locations 
locations = cities_df[["Lattitude", "Longitude"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
#cities_df = cities_df.dropna()
humidity = cities_df["Humidity"].astype(float)

In [29]:
# Create a poverty Heatmap layer

fig = gmaps.figure(center=(0,0), zoom_level=2)
#gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 5
                                 
                                )

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#  * A max temperature lower than 80 degrees but higher than 70.
#  * Wind speed less than 10 mph.
 # * Zero cloudiness.


ideal_weather_df =cities_df[(cities_df['Temperature'] > 60) & (cities_df['Temperature']<80)
                            & ((cities_df['Wind Speed']<10)) & (cities_df['Cloudiness']==0)] 

ideal_weather_df

,City,Lattitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
24,katsuura,35.1333,140.3000,63.84,62,0,5.01
55,tando ghulam ali,25.1311,68.8676,75.87,62,0,7.31
56,siva,29.2041,25.5195,71.38,39,0,5.46
73,mount isa,-20.7333,139.5000,77.00,38,0,8.66
86,vallenar,-28.5708,-70.7581,75.65,23,0,6.38

In [43]:
bank_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"<h3>Bank amount:</h3> {bank}</br>Sudeep" for bank in range(locations.shape[0])]
    #info_box_content=['a','b']
    #hover_text=['x' for x in range(locations.shape[0])]
)


fig = gmaps.figure()
fig.add_layer(bank_layer)

fig

Figure(layout=FigureLayout(height='420px'))